body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead {
    background: #3398E1;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

.featured-image-list {
    object-fit: cover;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}